{% extends 'base.html' %}


{% block content %}


{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
           <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Venue Details </h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="" class="form">
{% csrf_token %}

                        <p class="bs-component">
                            <!--<table class="table table-striped">-->
                                {% for x in edit_form  %}
                                    <!--<tr>-->
									<div class="row" style="margin-bottom: 10px">
                                    <div class="form form-group {% if x.errors %}has-error{%  endif %}">
                                    <div class="form form-row">
                                        <h2><label class="control-label col-lg-4 " for="{% if x.errors %}has-error{% else %}focusedInput{%  endif %}"  >{{ x.label }}</label>
                                        </h2>
                                        <div class="col-lg-4">{{ x }}
                                        </div>
                                        <div class="col-lg-4">
                                             {% if x.errors %}
                                            <ul class="errorlist list-inline">
                                                {% for error in x.errors %}
                                                    <li style="color: red;"> {{ error }}</li>
                                                {% endfor %}
                                            </ul>

                                            {% endif %}

                                        </div>

                                    </div>
                                    </div>
                                    </div>

                                    <!--</tr>-->
                                {% endfor %}
                                {{ formset.management_form }}
                                {% for x in formset %}
                                    <div class="row" style="margin-bottom: 10px">
                                    <div class="form form-group {% if x.errors %}has-error{%  endif %}">
                                         {% for field in x.hidden_fields %}
                                            {{ field }}
                                        {% endfor %}
                                    {% for form in x.visible_fields %}
                                        <div class="form form-row">


                                         <h2><label class="form form-column control-label col-lg-4 " for="{% if form.errors %}has-error{% else %}focusedInput{%  endif %}"  >{{ form.label }}</label>
                                         </h2>
                                             <div class="col-lg-4">{{ form }}
                                        </div>
                                        <div class="col-lg-4">
                                             {% if form.errors %}
                                            <ul class="errorlist list-inline">
                                                {% for error in form.errors %}
                                                    <li style="color: red;"> {{ error }}</li>
                                                {% endfor %}
                                            </ul>

                                            {% endif %}

                                        </div>


                                        </div>
                                    {% endfor %}

                                    </div>
                                    </div>



                                {% endfor %}
                            <!--</table>-->
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                </div>
            <p>
                <div class="panel-footer" style="height: 60px">
                                <input class="btn btn-success pull-right " style="margin: 0px" type="submit" value="SAVE" ></input>
&nbsp&nbsp                      <input  class="btn btn-warning pull-right" style="margin-right: 10px" type="submit" value="DELETE" name="delete" />
                                <a class="button btn btn-info pull-left" href="/rooms/viewVenue">BACK</a>
</p>
               </div>

            </form>
           </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}