{% extends 'base.html' %}


{% block content %}


{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter Venues</h3>
                </div>
                <div class="panel-body">

                    {% csrf_token %}
                    <div class="row">
                        <form action="" method="get" class="form-inline">
                        {% for x in filter.form %}
                            <div class="form-group">
                            {{ x.label }} {{ x }}
                            </div>
                        {% endfor %}

                    </div >
                    <input type="submit" class="btn pull-right" value="Filter"/>
                    </form>
                        <input type="hidden" name="next" value="{{ next }}" />

                </div>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary ">
                <div class="panel-heading">
                    <h3 class="panel-title">Venue Details </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="tab-pane"> Venue Name </td>
                            <td class="tab-pane"> Department</td>
                            <td class="tab-pane"> Capacity </td>
                            <td class="tab-pane">Equipment Details </td>
                        </tr>
                        {% for model,equipment in details %}
                            <tr >
                                <td><a href="/rooms/bookVenue/{{ model.venueid }}" >{{ model}}</a>
                                <td> {{ model.dno.dname }}</td>
                                <td> {{ model.capacity }}</td>



                                {% if equipment %}
                                    <td>
                                    {% for x in equipment  %}

                                            <p>{{ x.etypeid.ename }} qty: {{ x.quantity }}</p>



                                    {% endfor %}
                                    </td>

                                {% else %}
                                    <td>No Equipment</td>
                                {% endif %}

                                {% if user.userprofile.userType == 'SA' %}
                                <td> <button><a href="/rooms/editVenue/{{ model.venueid }}">Edit</a></button> </td>
                                {% endif %}


                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}